# Игнорирование файлов и директорий, созданных операционной системой
.DS_Store
Thumbs.db

# Игнорирование зависимостей и среды разработки
/node_modules
/.venv
/.idea
/.vscode

# Игнорирование сгенерированных файлов и папок
/build
/dist

# Игнорирование настроек конфигурации
.env/
local_settings.py/

# Игнорирование логов и временных файлов
*.log
*.tmp
*.swp


venv/
